<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="BDD Test Suite1" verbose="1" parallel="tests"
	thread-count="1" configfailurepolicy="continue">


	<test name="Login and dashboard test" annotations="JDK"
		preserve-order="true">
		<classes>
			<class name="com.qa.testrunner.TestRunner" />

		</classes>
	</test>

</suite>